About KB-JWT replay detection in section 4.3

There are two mechanisms able to detect replay: the use of a challenge sent by the Verifier or the use of a nonce generated by the Holder. 

When the challenge mechanism is used by the Holder, the Holder copies the challenge received from the Holder and pastes it into the KB-JWT. 

The Verifier MUST memorize both the challenge and the time or the time-window at which or during which the challenge has been sent.

When a nonce is used by the Holder, the Holder needs to generate a random number (rnd) that is sufficiently large so that the risk of a collision 
with another random number generated at the same time by another Holder will be extremely low. The Verifier will use the time indicated 
in the SD-JWT to verify first whether it fits into a time window, and then whether the random number has already been received during the time window.

In this draft, both cases are supported by a single claim: the 'nonce' claim. This is confusing.

The text has been modified to make it clearer. It defines another claim name called 'chal', when a challenge is generated by the Verifier; 
and it uses two claims ('iat' & 'rnd'), when a nonce mechanism is used by the Holder.

To summarize:
- in the first case, only a 'chal' claim is REQUIRED,
- in the second case, both a 'iat' claim and a 'rnd' claim are REQUIRED.

Since the upper sentence states:

> The Key Binding JWT MUST be a JWT according to [RFC7519] and its payload MUST contain the following elements:

this sentence and the statements placed below should be reconsidered.

Proposed change:
```

4.3.  Key Binding JWT

This section defines the Key Binding JWT, which encodes a signature over an SD-JWT by the Holder's private key.

The Verifier MUST verify that the Key Binding JWT is not a replay from a previously received and accepted KB-JWT.

There exist two mechanisms able to detect a replay: 

    (1) to place into the KB-JWT a challenge that has been generated and sent to the Holder by the Verifier or 
    (2) to place into the KB-JWT a number that will be used only once, called a nonce, that is generated by the Holder. 

For using the challenge mechanism, a challenge MUST be sent by the Verifier.  The Verifier MUST memorize both the challenge 
and a time-window during which the challenge has been sent. When the Holder receives the challenge, if it accepts to use his mechanism, 
it MUST copy the challenge into the KB-JWT.

For using the nonce mechanism, the Holder MUST generate a nonce so that the risk of a collision with another nonce generated 
exactly at the same time by another Holder will be very low. The nonce includes two elements: the time at which the KB-JWT has been issued 
and a random number.

The Key Binding JWT MUST be a JWT according to [RFC7519] and its payload contains the following elements:

   *  in the JOSE header,

      -  typ: REQUIRED.  MUST be kb+jwt, which explicitly types the Key
         Binding JWT as recommended in Section 3.11 of [RFC8725].

      -  alg: REQUIRED.  A digital signature algorithm identifier such
         as per IANA "JSON Web Signature and Encryption Algorithms"
         registry.  It MUST NOT be none.

   *  in the JWT payload,

      -  aud: REQUIRED.  The intended receiver of the Key Binding JWT.
         How the value is represented is up to the protocol used and out
         of scope of this specification.

      -  sd_hash: REQUIRED.  The base64url-encoded hash value over the
         Issuer-signed JWT and the selected Disclosures as defined
         below.

      -  iat: CONDITIONAL.  This claim MUST present when replay detection 
         is achieved using a nonce mechanism.  The value of this claim MUST 
         be the time at which the Key Binding JWT was issued using the 
         syntax defined in [RFC7519]. When this claim is present, the 'rdn' 
         claim MUST also be present. 

      -  rnd: CONDITIONAL.  This claim MUST present when replay detection 
         is achieved using a nonce mechanism.  The value of this claim MUST 
         be a random number generated by the Holder. The value type of this 
         claim MUST be a string.  When this claim is present, the 'iat' 
         claim MUST also be present, while the 'chal' claim MUST NOT be 
         present.

      -  chal: CONDITIONAL.  This claim MUST be present when replay 
         detection is achieved using a challenge sent to the Holder by 
         the Verifier.  The value type of this claim MUST be a string.  
         When this claim is present, the 'rnd' claim MUST NOT be present.

```
