Explicit typing

Whether this format is JWT or JWT-like, the considerations in the [JWT BCP](https://www.rfc-editor.org/rfc/rfc8725.html#name-use-explicit-typing) still apply. Please consider adding a `typ` claim.

cc @selfissued 

Explicit typing via the `typ` header can and should be done by specific applications or types of SD-JWT. But this SD-JWT draft is defining the general JWT-like construct and explicit typing of the generic thing isn't particularly useful or meaningful. 

The The next draft will have a media type and structured suffix that can help with specific applications or types of SD-JWT doing explicit typing FWIW https://github.com/oauth-wg/oauth-selective-disclosure-jwt/pull/249 

I would be open to adding one sentence in the draft saying "applications of SD-JWT SHOULD be explicitly typed".
I agree there cannot be only one type for all SD-JWTs.

I'm not quite sure where to add that one sentence. And a bit more context might be needed with it. I'll see what I can figure out. Maybe a small section like 3.11 in rfc8725. But (helpful) suggestions/ideas would be welcome in the meantime. 

* Add this sentence at the end of 5.1: The `typ` header parameter is RECOMMENDED, see Sec. 5.1.4 for more details.

* And as a new Sec. 5.1.4, "Explicit Typing":

A commonly seen attack is for one kind of JWT to be confused for another. Both regular JWTs as well as SD-JWTs are vulnerable to confusion attacks. To prevent these attacks, it is RECOMMENDED to specify an explicit type by including the `typ` header parameter when the token is issued, and for Verifiers to check this value. The relevant token's content type can be used, e.g. `credential-claims-set+json`, but often a more application-specific value is preferred. See Sec. 3.11 of RFC 8725 for more details.

Thanks @yaronf, I took some inspiration from you words in creating PR #275. 

merged PR #275 to close this one 